@charset "utf-8";
/* CSS Document */

@import "18_5.css";
@import "17_5.css";
@import "16_5.css";
@import "14_5.css";

@import "24_5.css";
@import "26_5.css";
@import "27_5.css";
@import "28_5.css";

@import "38_5.css";
@import "37_5.css";
@import "36_5.css";

@import "46_5.css";
@import "47_5.css";
@import "48_5.css";

.furkation_hover_btn {
	position: absolute;
	z-index: 40;
	line-height: 10px;
	background-color: #ECECEC;
	text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

.furkation_hover_btn:hover {
	background-color: #D3DFE7;
}