@charset "utf-8";
/* CSS Document */

html {
  scroll-behavior: smooth;
}

#scroll-to-top-button {
    background-color: #C7C7C7;
    bottom: 10px;
    height: 45px;
    position: fixed;
    text-align: center;
    width: 60px;
    opacity: .9;
    z-index: 100000;
    transition: all .2s ease-in-out 0s;
    line-height: 1;
    border-radius: 4px 4px 0px 0px;
    display: none;
    right: 75px;
    cursor: pointer;    
    border: none;
    outline: none;
    padding-top: 5px;
}

#scroll-to-top-button:hover {
  background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

a:link {
    color: #005289;
}

a:visited {
    color: #005289;
}

p {
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333333;
}

p.top-menu-text {
    font-size: 12px;
    font-weight: 300;
    margin-top: 14px;
}

p.menu-text {
    font-size: 17px;
    font-weight: 400;
    margin-top: 12px;
}

p.manual-title {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: left;
}

p.parameter-subtitle {
    margin-top: 50px;
    padding-left: 20px;
    font-weight: bold;
    text-align: left;
}

p.parameter-sub-subtitle {
    margin-top: 50px;
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
}

p.parameter-text {
    padding-left: 40px;
    text-align: left;
}

p.parameter-reference {
    font-size: 12px;
    color: grey;
    padding-left: 40px;
    text-align: left;
}

#circle {
    background-color: white;
    border: solid 1px grey;
    border-radius: 100%;
    padding: 0px 7px 0px 7px;
    font-weight: bold;
}

p.parameter-text-formel {
    margin: auto;
    margin-left: 40px;
    padding: 10px 0px 10px;
    text-align: left;
    font-size: 14px;
}

#highlight-formel {
    background-color: rgba(0,223,255,0.10);
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
}

body {
    margin: auto;
    background-color: #17669D;
    margin-top: 0px;
    margin-bottom: 0px;
	margin-left: 0px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    /*margin-left: 15px;*/   
}

div.page {
    margin: auto;
    width: 1300px;
    background-color: #EEEEEE;
}

div.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1240px;
    height: 44px;
    background: white;
    border-bottom: 1px solid #E1E1E1;
}

div.top-menu-social {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 16px;
    height: 16px;
    margin-right: 24px;
    margin-top: 5px;
}

div.top-menu-items {
    display: flex;
    align-items: center;
}

div.top-menu-item {
    margin-right: 0px;
    padding-left: 13px;
    padding-right: 13px;
    height: 44px;
    text-align: right;
}

/*div.header {
    margin: auto;
    width: 1300px;
    height: 119px;
    background: white;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
}*/

div.header {
    margin: auto;
    width: 1300px;
    height: 119px;
    background: white;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%; /* Passt die Höhe des Bildes an den Container an */
}

/*div.header-header .content {
    display: flex;
    /*align-items: center;
}*/

#logo {
    position: relative;
    top: 29px;
    left: 20px;
}

div.menu {
    margin: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    width: 1240px;
    height: 49px;
    background: white;
    border-top: 1px solid #FFFFFF;
    border-bottom: 2px solid #CCCCCC;
    box-shadow: 0px 5px 15px -5px #CCCCCC;
    margin-bottom: 20px;
}

div.menu-item {
    padding-right: 30px;
    height: 49px;
    float: left;
}

div.language-menu-item {
    position: relative;
    z-index: +10;
    margin-right: 0px;
    height: 49px;
    width: 150px;
    float: right;
    background-color: white;
    cursor: pointer;
}

.language-menu-item ul {
    list-style:	none;
    margin-top: 0px;
    margin-left: -30px;
    width: 160px;
}
	
.language-menu-item li {
	background-color: #FFFFFF;
	position: relative;
	height: 49px;
    margin-left: -10px;
	line-height: 49px;
}

.language-menu-item a {
	margin: 0px;
	padding: 0px;
    padding-left: 10px;
    font-family: Heebo, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #333333;
	text-decoration: none;
}

.language-menu-item li ul {
	position: absolute;
	top: 49px;
	left: 0px;
	visibility: hidden;
}

/* Hier mit height und line-height die Höhe des Dropdown-Menu einstellen */
.language-menu-item li ul li {
    height: 29px;
	line-height: 29px;
    background-color: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 3px 3px 5px #CCCCCC;
}

.language-menu-item ul li ul li a {
    padding-left: 10px;
    font-size: 12px;
}

.language-menu-item li:hover ul {
    visibility:	visible;
}

.language-menu-item li:hover ul {
    animation: opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.language-menu-item li ul li:hover {
    background-color: #DDDDDD;
}

.flag {
    border-radius: 10%;
    box-shadow: 1px 1px 3px 1px #AAAAAA;
    height: 14px;
    width: 20px;
    vertical-align: sub;
    margin-right: 10px;
}

div.content {
    position: relative;
    margin: auto;
    width: 1260px;
    background: white;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 3px 3px 3px #DDDDDD;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#periodontalchart {
    position: relative;
    margin: auto;
    width: 1220px;
    height: 1620px;
}

div.manual {
    position: relative;
    margin: auto;
    width: 720px;
    background: white;
    margin-bottom: 50px;
}

.arrows {
    position:relative;
    fill:#17669D;
    stroke:#17669D;
    stroke-width:1;
}

.hinweis-box {
    position: relative;
    margin: auto;
    border: solid 2px #535353;
    background-color: #F6F6F6;
    border-radius: 5px;
    width: 700px;
    padding: 0px 10px 0px 10px;
    text-align: left;
}

#hinweis-box-01 {
    margin-top: 100px;
    margin-bottom: 80px;
}

#hinweis-box-02 {
    margin-top: 40px;
    margin-bottom: 80px;
}

.hinweis-titel {
    font-size: 14px;
    font-weight: bold;
}

.hinweis-icon {
    position: relative;
    float: right;
    margin-top: 10px;

}

.hinweis-text {
    font-size: 14px;
}

div.footer {
    display: flex; /* Flex Container erstellen */
    justify-content: space-around; /* Elemente gleichmäßig verteilen */
    align-items: center; /* Vertikale Ausrichtung der Elemente */
    margin: auto;
    width: 1300px;
    height: 180px;
    background: #363839;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #4B4C4D;
}

div.footer-item {
    flex: 1; /* Gibt an, dass jedes footer-item flexibel ist und den verfügbaren Raum nutzt */
    padding-top: 20px;
    padding-left: 80px; /* Angepasster linker Padding-Wert */
    padding-right: 20px; /* Angepasster rechter Padding-Wert */
    padding-bottom: 20px;
    text-align: left;
}

div.footer-item a:link {
    color: #D9D9D9;
}

div.footer-item a:visited {
    color: #D9D9D9;
}

p.footer-text {
    font-size: 14px;
    color: #dddddd;
}

div.copyright {
    position: relative;
    margin: auto;
    width: 1300px;
    height: 62px;
    background: #282A2B;
    border-top: 1px solid #282A2B;
    border-bottom: 1px solid #282A2B;
    text-align: center;
}

p.copyright-text {
    font-size: 14px;
    color: #8c8989;
    margin-top: 22px;
}
